.bga-card {
  box-sizing: border-box;
  background-color: transparent;

  .bga-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 3px 3px 3px #000000a0;
    border-radius: 5px;
  }

  &:hover .bga-card-inner {
    transform: rotateY(180deg);
  }

  .bga-card-front, .bga-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-size: cover;
  }

  .bga-card-front {
  }

  .bga-card-back {
    transform: rotateY(180deg);
    background-color: grey;
  }
}

.card-location {
  &.horizontal-card-location{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  &.vertical-card-location{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
}

.bga-deck {
  position: relative;

  .bga-card {
    position: absolute;
    box-shadow: none;

    @for $index from 1 through 5 {
      &:nth-child(#{$index}) {
        top: #{$index * 2} + px;
      }
    }
    &:last-child {
      box-shadow: 3px 3px 3px #000000a0;
    }
  }
}