@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Crypt implementation : © Jordi Jansen <thestartplayer@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * crypt.css
 *
 * Crypt stylesheet
 *
 */
/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (crypt_crypt.tpl), and to HTML elements you create dynamically
    (in crypt.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/
/* Note: you must not use any @import directive */
/********* You can start writing your CSS below this line: **********/
/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/
body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock.selectable .card:not(.disabled) {
  cursor: pointer;
}

.card-stock .card.selectable:not(.disabled) {
  cursor: pointer;
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.deck[data-empty=true] .bga-cards-deck-counter.hide-when-empty {
  display: none;
}

.bga-cards-deck-counter {
  --bga-cards-deck-counter-size: 20px;
  position: absolute;
  z-index: 1;
  width: var(--bga-cards-deck-counter-size);
  height: var(--bga-cards-deck-counter-size);
  left: calc(var(--bga-cards-deck-left) - var(--bga-cards-deck-counter-size) / 2);
  top: calc(var(--bga-cards-deck-top) - var(--bga-cards-deck-counter-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bga-cards-deck-counter.round {
  color: black;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
  font-size: 14px;
}

.bga-cards-deck-counter.text-shadow {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 20px;
}

.bga-cards-deck-counter.hidden {
  display: none;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + var(--tile-count) * var(--shift));
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  opacity: var(--tile-count);
}

.card-stock.all-visible-deck > * {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--shift) * var(--order));
  left: calc(var(--shift) * var(--order));
}

.card-stock.all-visible-deck:hover, .card-stock.all-visible-deck:active, .card-stock.all-visible-deck.opened {
  height: calc((var(--height) + var(--shift)) * var(--tile-count) - var(--shift));
  z-index: 1;
}

.card-stock.all-visible-deck:hover > *, .card-stock.all-visible-deck:active > *, .card-stock.all-visible-deck.opened > * {
  top: calc((var(--height) + var(--shift)) * var(--order));
}

.quibbles-card {
  display: inline-block;
  position: relative;
  width: 165px;
  height: 257px;
  margin: 5px;
  border-radius: 12px;
}
.quibbles-card.disabled {
  cursor: not-allowed;
  filter: contrast(0.6);
}
.quibbles-card .card-sides .card-side {
  border-radius: 12px;
}
.quibbles-card .card-sides .card-side > * {
  pointer-events: none;
  user-select: none;
}
.quibbles-card .card-sides .card-side.back {
  background-image: url("img/back.png");
  background-position: 0 0;
}
.quibbles-card .card-sides .card-side.front, .quibbles-card .card-sides .card-side.back {
  background-size: cover;
}
.quibbles-card .front[data-number="1"][data-variation="1"] {
  background-image: url("img/cards_1.png");
  background-position: 0% 0;
}
.quibbles-card .front[data-number="1"][data-variation="2"] {
  background-image: url("img/cards_1.png");
  background-position: 6.6666666667% 0;
}
.quibbles-card .front[data-number="1"][data-variation="3"] {
  background-image: url("img/cards_1.png");
  background-position: 13.3333333333% 0;
}
.quibbles-card .front[data-number="1"][data-variation="4"] {
  background-image: url("img/cards_1.png");
  background-position: 20% 0;
}
.quibbles-card .front[data-number="1"][data-variation="5"] {
  background-image: url("img/cards_1.png");
  background-position: 26.6666666667% 0;
}
.quibbles-card .front[data-number="1"][data-variation="6"] {
  background-image: url("img/cards_1.png");
  background-position: 33.3333333333% 0;
}
.quibbles-card .front[data-number="1"][data-variation="7"] {
  background-image: url("img/cards_1.png");
  background-position: 40% 0;
}
.quibbles-card .front[data-number="1"][data-variation="8"] {
  background-image: url("img/cards_1.png");
  background-position: 46.6666666667% 0;
}
.quibbles-card .front[data-number="1"][data-variation="9"] {
  background-image: url("img/cards_1.png");
  background-position: 53.3333333333% 0;
}
.quibbles-card .front[data-number="1"][data-variation="10"] {
  background-image: url("img/cards_1.png");
  background-position: 60% 0;
}
.quibbles-card .front[data-number="1"][data-variation="11"] {
  background-image: url("img/cards_1.png");
  background-position: 66.6666666667% 0;
}
.quibbles-card .front[data-number="1"][data-variation="12"] {
  background-image: url("img/cards_1.png");
  background-position: 73.3333333333% 0;
}
.quibbles-card .front[data-number="1"][data-variation="13"] {
  background-image: url("img/cards_1.png");
  background-position: 80% 0;
}
.quibbles-card .front[data-number="1"][data-variation="14"] {
  background-image: url("img/cards_1.png");
  background-position: 86.6666666667% 0;
}
.quibbles-card .front[data-number="1"][data-variation="15"] {
  background-image: url("img/cards_1.png");
  background-position: 93.3333333333% 0;
}
.quibbles-card .front[data-number="1"][data-variation="16"] {
  background-image: url("img/cards_1.png");
  background-position: 100% 0;
}
.quibbles-card .front[data-number="2"][data-variation="1"] {
  background-image: url("img/cards_2.png");
  background-position: 0% 0;
}
.quibbles-card .front[data-number="2"][data-variation="2"] {
  background-image: url("img/cards_2.png");
  background-position: 5.8823529412% 0;
}
.quibbles-card .front[data-number="2"][data-variation="3"] {
  background-image: url("img/cards_2.png");
  background-position: 11.7647058824% 0;
}
.quibbles-card .front[data-number="2"][data-variation="4"] {
  background-image: url("img/cards_2.png");
  background-position: 17.6470588235% 0;
}
.quibbles-card .front[data-number="2"][data-variation="5"] {
  background-image: url("img/cards_2.png");
  background-position: 23.5294117647% 0;
}
.quibbles-card .front[data-number="2"][data-variation="6"] {
  background-image: url("img/cards_2.png");
  background-position: 29.4117647059% 0;
}
.quibbles-card .front[data-number="2"][data-variation="7"] {
  background-image: url("img/cards_2.png");
  background-position: 35.2941176471% 0;
}
.quibbles-card .front[data-number="2"][data-variation="8"] {
  background-image: url("img/cards_2.png");
  background-position: 41.1764705882% 0;
}
.quibbles-card .front[data-number="2"][data-variation="9"] {
  background-image: url("img/cards_2.png");
  background-position: 47.0588235294% 0;
}
.quibbles-card .front[data-number="2"][data-variation="10"] {
  background-image: url("img/cards_2.png");
  background-position: 52.9411764706% 0;
}
.quibbles-card .front[data-number="2"][data-variation="11"] {
  background-image: url("img/cards_2.png");
  background-position: 58.8235294118% 0;
}
.quibbles-card .front[data-number="2"][data-variation="12"] {
  background-image: url("img/cards_2.png");
  background-position: 64.7058823529% 0;
}
.quibbles-card .front[data-number="2"][data-variation="13"] {
  background-image: url("img/cards_2.png");
  background-position: 70.5882352941% 0;
}
.quibbles-card .front[data-number="2"][data-variation="14"] {
  background-image: url("img/cards_2.png");
  background-position: 76.4705882353% 0;
}
.quibbles-card .front[data-number="2"][data-variation="15"] {
  background-image: url("img/cards_2.png");
  background-position: 82.3529411765% 0;
}
.quibbles-card .front[data-number="2"][data-variation="16"] {
  background-image: url("img/cards_2.png");
  background-position: 88.2352941176% 0;
}
.quibbles-card .front[data-number="2"][data-variation="17"] {
  background-image: url("img/cards_2.png");
  background-position: 94.1176470588% 0;
}
.quibbles-card .front[data-number="2"][data-variation="18"] {
  background-image: url("img/cards_2.png");
  background-position: 100% 0;
}
.quibbles-card .front[data-number="3"][data-variation="1"] {
  background-image: url("img/cards_3.png");
  background-position: 0% 0;
}
.quibbles-card .front[data-number="3"][data-variation="2"] {
  background-image: url("img/cards_3.png");
  background-position: 5.2631578947% 0;
}
.quibbles-card .front[data-number="3"][data-variation="3"] {
  background-image: url("img/cards_3.png");
  background-position: 10.5263157895% 0;
}
.quibbles-card .front[data-number="3"][data-variation="4"] {
  background-image: url("img/cards_3.png");
  background-position: 15.7894736842% 0;
}
.quibbles-card .front[data-number="3"][data-variation="5"] {
  background-image: url("img/cards_3.png");
  background-position: 21.0526315789% 0;
}
.quibbles-card .front[data-number="3"][data-variation="6"] {
  background-image: url("img/cards_3.png");
  background-position: 26.3157894737% 0;
}
.quibbles-card .front[data-number="3"][data-variation="7"] {
  background-image: url("img/cards_3.png");
  background-position: 31.5789473684% 0;
}
.quibbles-card .front[data-number="3"][data-variation="8"] {
  background-image: url("img/cards_3.png");
  background-position: 36.8421052632% 0;
}
.quibbles-card .front[data-number="3"][data-variation="9"] {
  background-image: url("img/cards_3.png");
  background-position: 42.1052631579% 0;
}
.quibbles-card .front[data-number="3"][data-variation="10"] {
  background-image: url("img/cards_3.png");
  background-position: 47.3684210526% 0;
}
.quibbles-card .front[data-number="3"][data-variation="11"] {
  background-image: url("img/cards_3.png");
  background-position: 52.6315789474% 0;
}
.quibbles-card .front[data-number="3"][data-variation="12"] {
  background-image: url("img/cards_3.png");
  background-position: 57.8947368421% 0;
}
.quibbles-card .front[data-number="3"][data-variation="13"] {
  background-image: url("img/cards_3.png");
  background-position: 63.1578947368% 0;
}
.quibbles-card .front[data-number="3"][data-variation="14"] {
  background-image: url("img/cards_3.png");
  background-position: 68.4210526316% 0;
}
.quibbles-card .front[data-number="3"][data-variation="15"] {
  background-image: url("img/cards_3.png");
  background-position: 73.6842105263% 0;
}
.quibbles-card .front[data-number="3"][data-variation="16"] {
  background-image: url("img/cards_3.png");
  background-position: 78.9473684211% 0;
}
.quibbles-card .front[data-number="3"][data-variation="17"] {
  background-image: url("img/cards_3.png");
  background-position: 84.2105263158% 0;
}
.quibbles-card .front[data-number="3"][data-variation="18"] {
  background-image: url("img/cards_3.png");
  background-position: 89.4736842105% 0;
}
.quibbles-card .front[data-number="3"][data-variation="19"] {
  background-image: url("img/cards_3.png");
  background-position: 94.7368421053% 0;
}
.quibbles-card .front[data-number="3"][data-variation="20"] {
  background-image: url("img/cards_3.png");
  background-position: 100% 0;
}
.quibbles-card .front[data-number="4"][data-variation="1"] {
  background-image: url("img/cards_4.png");
  background-position: 0% 0;
}
.quibbles-card .front[data-number="4"][data-variation="2"] {
  background-image: url("img/cards_4.png");
  background-position: 4.7619047619% 0;
}
.quibbles-card .front[data-number="4"][data-variation="3"] {
  background-image: url("img/cards_4.png");
  background-position: 9.5238095238% 0;
}
.quibbles-card .front[data-number="4"][data-variation="4"] {
  background-image: url("img/cards_4.png");
  background-position: 14.2857142857% 0;
}
.quibbles-card .front[data-number="4"][data-variation="5"] {
  background-image: url("img/cards_4.png");
  background-position: 19.0476190476% 0;
}
.quibbles-card .front[data-number="4"][data-variation="6"] {
  background-image: url("img/cards_4.png");
  background-position: 23.8095238095% 0;
}
.quibbles-card .front[data-number="4"][data-variation="7"] {
  background-image: url("img/cards_4.png");
  background-position: 28.5714285714% 0;
}
.quibbles-card .front[data-number="4"][data-variation="8"] {
  background-image: url("img/cards_4.png");
  background-position: 33.3333333333% 0;
}
.quibbles-card .front[data-number="4"][data-variation="9"] {
  background-image: url("img/cards_4.png");
  background-position: 38.0952380952% 0;
}
.quibbles-card .front[data-number="4"][data-variation="10"] {
  background-image: url("img/cards_4.png");
  background-position: 42.8571428571% 0;
}
.quibbles-card .front[data-number="4"][data-variation="11"] {
  background-image: url("img/cards_4.png");
  background-position: 47.619047619% 0;
}
.quibbles-card .front[data-number="4"][data-variation="12"] {
  background-image: url("img/cards_4.png");
  background-position: 52.380952381% 0;
}
.quibbles-card .front[data-number="4"][data-variation="13"] {
  background-image: url("img/cards_4.png");
  background-position: 57.1428571429% 0;
}
.quibbles-card .front[data-number="4"][data-variation="14"] {
  background-image: url("img/cards_4.png");
  background-position: 61.9047619048% 0;
}
.quibbles-card .front[data-number="4"][data-variation="15"] {
  background-image: url("img/cards_4.png");
  background-position: 66.6666666667% 0;
}
.quibbles-card .front[data-number="4"][data-variation="16"] {
  background-image: url("img/cards_4.png");
  background-position: 71.4285714286% 0;
}
.quibbles-card .front[data-number="4"][data-variation="17"] {
  background-image: url("img/cards_4.png");
  background-position: 76.1904761905% 0;
}
.quibbles-card .front[data-number="4"][data-variation="18"] {
  background-image: url("img/cards_4.png");
  background-position: 80.9523809524% 0;
}
.quibbles-card .front[data-number="4"][data-variation="19"] {
  background-image: url("img/cards_4.png");
  background-position: 85.7142857143% 0;
}
.quibbles-card .front[data-number="4"][data-variation="20"] {
  background-image: url("img/cards_4.png");
  background-position: 90.4761904762% 0;
}
.quibbles-card .front[data-number="4"][data-variation="21"] {
  background-image: url("img/cards_4.png");
  background-position: 95.2380952381% 0;
}
.quibbles-card .front[data-number="4"][data-variation="22"] {
  background-image: url("img/cards_4.png");
  background-position: 100% 0;
}
.quibbles-card .front[data-number="5"][data-variation="1"] {
  background-image: url("img/cards_5.png");
  background-position: 0% 0;
}
.quibbles-card .front[data-number="5"][data-variation="2"] {
  background-image: url("img/cards_5.png");
  background-position: 4.347826087% 0;
}
.quibbles-card .front[data-number="5"][data-variation="3"] {
  background-image: url("img/cards_5.png");
  background-position: 8.6956521739% 0;
}
.quibbles-card .front[data-number="5"][data-variation="4"] {
  background-image: url("img/cards_5.png");
  background-position: 13.0434782609% 0;
}
.quibbles-card .front[data-number="5"][data-variation="5"] {
  background-image: url("img/cards_5.png");
  background-position: 17.3913043478% 0;
}
.quibbles-card .front[data-number="5"][data-variation="6"] {
  background-image: url("img/cards_5.png");
  background-position: 21.7391304348% 0;
}
.quibbles-card .front[data-number="5"][data-variation="7"] {
  background-image: url("img/cards_5.png");
  background-position: 26.0869565217% 0;
}
.quibbles-card .front[data-number="5"][data-variation="8"] {
  background-image: url("img/cards_5.png");
  background-position: 30.4347826087% 0;
}
.quibbles-card .front[data-number="5"][data-variation="9"] {
  background-image: url("img/cards_5.png");
  background-position: 34.7826086957% 0;
}
.quibbles-card .front[data-number="5"][data-variation="10"] {
  background-image: url("img/cards_5.png");
  background-position: 39.1304347826% 0;
}
.quibbles-card .front[data-number="5"][data-variation="11"] {
  background-image: url("img/cards_5.png");
  background-position: 43.4782608696% 0;
}
.quibbles-card .front[data-number="5"][data-variation="12"] {
  background-image: url("img/cards_5.png");
  background-position: 47.8260869565% 0;
}
.quibbles-card .front[data-number="5"][data-variation="13"] {
  background-image: url("img/cards_5.png");
  background-position: 52.1739130435% 0;
}
.quibbles-card .front[data-number="5"][data-variation="14"] {
  background-image: url("img/cards_5.png");
  background-position: 56.5217391304% 0;
}
.quibbles-card .front[data-number="5"][data-variation="15"] {
  background-image: url("img/cards_5.png");
  background-position: 60.8695652174% 0;
}
.quibbles-card .front[data-number="5"][data-variation="16"] {
  background-image: url("img/cards_5.png");
  background-position: 65.2173913043% 0;
}
.quibbles-card .front[data-number="5"][data-variation="17"] {
  background-image: url("img/cards_5.png");
  background-position: 69.5652173913% 0;
}
.quibbles-card .front[data-number="5"][data-variation="18"] {
  background-image: url("img/cards_5.png");
  background-position: 73.9130434783% 0;
}
.quibbles-card .front[data-number="5"][data-variation="19"] {
  background-image: url("img/cards_5.png");
  background-position: 78.2608695652% 0;
}
.quibbles-card .front[data-number="5"][data-variation="20"] {
  background-image: url("img/cards_5.png");
  background-position: 82.6086956522% 0;
}
.quibbles-card .front[data-number="5"][data-variation="21"] {
  background-image: url("img/cards_5.png");
  background-position: 86.9565217391% 0;
}
.quibbles-card .front[data-number="5"][data-variation="22"] {
  background-image: url("img/cards_5.png");
  background-position: 91.3043478261% 0;
}
.quibbles-card .front[data-number="5"][data-variation="23"] {
  background-image: url("img/cards_5.png");
  background-position: 95.652173913% 0;
}
.quibbles-card .front[data-number="5"][data-variation="24"] {
  background-image: url("img/cards_5.png");
  background-position: 100% 0;
}
.quibbles-card .front[data-number="6"][data-variation="1"] {
  background-image: url("img/cards_6.png");
  background-position: 0% 0;
}
.quibbles-card .front[data-number="6"][data-variation="2"] {
  background-image: url("img/cards_6.png");
  background-position: 4% 0;
}
.quibbles-card .front[data-number="6"][data-variation="3"] {
  background-image: url("img/cards_6.png");
  background-position: 8% 0;
}
.quibbles-card .front[data-number="6"][data-variation="4"] {
  background-image: url("img/cards_6.png");
  background-position: 12% 0;
}
.quibbles-card .front[data-number="6"][data-variation="5"] {
  background-image: url("img/cards_6.png");
  background-position: 16% 0;
}
.quibbles-card .front[data-number="6"][data-variation="6"] {
  background-image: url("img/cards_6.png");
  background-position: 20% 0;
}
.quibbles-card .front[data-number="6"][data-variation="7"] {
  background-image: url("img/cards_6.png");
  background-position: 24% 0;
}
.quibbles-card .front[data-number="6"][data-variation="8"] {
  background-image: url("img/cards_6.png");
  background-position: 28% 0;
}
.quibbles-card .front[data-number="6"][data-variation="9"] {
  background-image: url("img/cards_6.png");
  background-position: 32% 0;
}
.quibbles-card .front[data-number="6"][data-variation="10"] {
  background-image: url("img/cards_6.png");
  background-position: 36% 0;
}
.quibbles-card .front[data-number="6"][data-variation="11"] {
  background-image: url("img/cards_6.png");
  background-position: 40% 0;
}
.quibbles-card .front[data-number="6"][data-variation="12"] {
  background-image: url("img/cards_6.png");
  background-position: 44% 0;
}
.quibbles-card .front[data-number="6"][data-variation="13"] {
  background-image: url("img/cards_6.png");
  background-position: 48% 0;
}
.quibbles-card .front[data-number="6"][data-variation="14"] {
  background-image: url("img/cards_6.png");
  background-position: 52% 0;
}
.quibbles-card .front[data-number="6"][data-variation="15"] {
  background-image: url("img/cards_6.png");
  background-position: 56% 0;
}
.quibbles-card .front[data-number="6"][data-variation="16"] {
  background-image: url("img/cards_6.png");
  background-position: 60% 0;
}
.quibbles-card .front[data-number="6"][data-variation="17"] {
  background-image: url("img/cards_6.png");
  background-position: 64% 0;
}
.quibbles-card .front[data-number="6"][data-variation="18"] {
  background-image: url("img/cards_6.png");
  background-position: 68% 0;
}
.quibbles-card .front[data-number="6"][data-variation="19"] {
  background-image: url("img/cards_6.png");
  background-position: 72% 0;
}
.quibbles-card .front[data-number="6"][data-variation="20"] {
  background-image: url("img/cards_6.png");
  background-position: 76% 0;
}
.quibbles-card .front[data-number="6"][data-variation="21"] {
  background-image: url("img/cards_6.png");
  background-position: 80% 0;
}
.quibbles-card .front[data-number="6"][data-variation="22"] {
  background-image: url("img/cards_6.png");
  background-position: 84% 0;
}
.quibbles-card .front[data-number="6"][data-variation="23"] {
  background-image: url("img/cards_6.png");
  background-position: 88% 0;
}
.quibbles-card .front[data-number="6"][data-variation="24"] {
  background-image: url("img/cards_6.png");
  background-position: 92% 0;
}
.quibbles-card .front[data-number="6"][data-variation="25"] {
  background-image: url("img/cards_6.png");
  background-position: 96% 0;
}
.quibbles-card .front[data-number="6"][data-variation="26"] {
  background-image: url("img/cards_6.png");
  background-position: 100% 0;
}

.quibbles .bga-cards-deck-counter.quibbles-counter {
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 25px;
  background: black;
  opacity: 0.8;
}
.quibbles .quibbles-ui-row {
  display: flex;
  gap: 20px;
}
.quibbles .quibbles-ui-row #player-hand {
  flex-grow: 1;
}
.quibbles #quibbles-ui-row-1 #card-deck, .quibbles #quibbles-ui-row-1 #card-discard {
  width: 175px;
}
.quibbles #quibbles-ui-row-2 #card-display {
  flex-grow: 1;
}

/*# sourceMappingURL=quibbles.css.map */
